@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Poppins:wght@500&display=swap');

#game-options {
	width: var(--options-width);
	height: var(--options-height);
	max-height: var(--options-height);
	text-align: center;
}

.game-option-save {
	width: calc(4 / 10 * var(--options-width));
	height: var(--options-height);
	font-family: 'Poppins', sans-serif;
	font-size: 18pt;
}

.game-option-code {
	width: calc(2 / 10 * var(--options-width));
	height: var(--options-height);
	font-family: 'Poppins', sans-serif;
	font-size: 18pt;
}
