@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Poppins:wght@500&display=swap');

:root {
	--page-width: 600px;
	--canvas-height: var(--page-width);
	--options-height: 40px;
	--options-width: 400px;
}

* {
	padding: 0;
	margin: 0px auto;
}

canvas {
	background: #eee;
	display: block;
	margin: 20px auto 0px;
	width: var(--page-width);
	height: 400px;
}

#hidden {
	display: none;
}

.ui-text {
	font-family: 'JetBrains Mono', monospace;
	font-size: 24pt;
	width: var(--page-width);
	max-width: var(--page-width);
	user-select: none;
}

#score {
	font-family: 'Poppins', sans-serif;
}
